<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
	<sources>
	  <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
		<listeners>
		  <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "d:\coloretto\ClientTraces.svclog" />
		</listeners>
	  </source>
	</sources>
  </system.diagnostics>
  <system.serviceModel>
	<diagnostics>
	  <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true">
	  </messageLogging>
	</diagnostics>
	<bindings>
	  <netTcpBinding>
		<binding name="netconfig" closeTimeout="00:10:00">
		  <security mode="Message">
			<transport clientCredentialType="None"/>
			<message clientCredentialType="UserName"/>
		  </security>
		</binding>
	  </netTcpBinding>
	  <wsDualHttpBinding>
		<binding name="wsDuplex" closeTimeout="00:05:00" openTimeout="00:00:30" maxReceivedMessageSize="665536">
		  <security mode="Message">
			<message clientCredentialType="UserName" />
		  </security>
		</binding>
	  </wsDualHttpBinding>
	</bindings>
	<client>
	  <endpoint address="net.tcp://schermerhorn.me:9999/services" binding="netTcpBinding"
        bindingConfiguration="netconfig" contract="IColorettoService"
        name="DefaultBinding_IColorettoService_IColorettoService" />
	</client>
  </system.serviceModel>
</configuration>