<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ColorettoServerLibrary_VSTS.Properties.Settings.ColorettaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Coloretta;Persist Security Info=True;User ID=steven;Password=d0negone"
            providerName="System.Data.SqlClient" />
        <add name="Coloretto.Services.Properties.Settings.ColorettaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Coloretta;Persist Security Info=True;User ID=sa;Password=d0negone"
            providerName="" />
    </connectionStrings>
  <!--<system.web>
    <authentication mode="Forms" />
      <providers>
        <add name="ColorettaProvider" type="Coloretto.Services.ColorettoMembershipProvider"/>
      </providers>
    </membership>
  </system.web>-->
</configuration>