<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ColorettoServerLibrary.Properties.Settings.ColorettaConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Coloretta;Persist Security Info=True;User ID=sa;Password=d0negone"
      providerName="System.Data.SqlClient" />
    <add name="Coloretto.Services.Properties.Settings.ColorettaConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Coloretta;Persist Security Info=True;User ID=steven;Password=d0negone"
      providerName="System.Data.SqlClient" />
    <add name="Coloretto.Services.Properties.Settings.ColorettaConnectionString1"
      connectionString="Data Source=(local);Initial Catalog=Coloretta;Persist Security Info=True;User ID=sa;Password=d0negone"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDuplex" closeTimeout="00:05:00" openTimeout="00:00:30" maxReceivedMessageSize="665536">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ColorettoServerLibrary.Service1Behavior" name="ColorettoServerLibrary.Service1">
        <endpoint binding="wsDualHttpBinding" bindingConfiguration="wsDuplex" name="DefaultEndpoint" listenUri="http://schermerhorn.me:9999/services" />
        <host>
          <baseAddresses>
            <add baseAddress="http://schermerhorn.me:9999/services" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ColorettoServerLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Coloretto.Services.ColorettoMembershipProvider,Coloretto.Services" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
